<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>682166063176-351simpeaf3p8bb682b6logsm8dic8g5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682166063176-351simpeaf3p8bb682b6logsm8dic8g5</string>
	<key>API_KEY</key>
	<string>AIzaSyCN0rUnm-xecBkGSsYhg2vllzCrLeZVNws</string>
	<key>GCM_SENDER_ID</key>
	<string>682166063176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ro.KeyCity.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitter-clone-a6efa</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-clone-a6efa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682166063176:ios:a19d00feb8a019ee50087d</string>
</dict>
</plist>